html, body {
    padding: 0;
    margin: 0;
    background-color: #ebebeb;
}


.clearfix {
    clear: both;
}


.centr {
    max-width: 1100px;
    margin: 0 auto;
}


.header_menu {
    background-color: #980026;;
}


.header_menu_links {
    float: left;
}


.header_menu_links_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.header_menu_links_list li {
    float: left;
}


.header_menu_links_list li a {
    display: block;
    color: #fff;
    padding: 10px;
    text-decoration: none;

}


.header_menu_links_list li a:hover {
    background-color: #fff;
    color: #980026;
}


.header_menu_social ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: right;
}


.header_menu_social ul li {
    float: left;
}


.header_menu_social li a {
    display: block;
    color: #fff;
    padding: 10px;
    text-decoration: none;

}


.header_menu_social li a:hover {
    background-color: #fff;
    color: #980026;
}


.header_search_area {
    background-color: #fff;
    padding: 15px 0 15px 0;
    box-shadow: 0px 10px 10px 0px rgba(196,196,196,0.75);
    -webkit-box-shadow: 0px 10px 10px 0px rgba(196,196,196,0.75);
    -moz-box-shadow: 0px 10px 10px 0px rgba(196,196,196,0.75);
}


.header_search_logo {
    float: left;
    width: 25%;
}


.header_search_logo .logo {
    float: left;
    width: 50%;
}


.header_search_input {
    float: left;
    width: 50%;
    margin-top: 8px;
}


.header_search_basket {
    float: left;
    width: 25%;
}


.header_search_basket:hover {
    cursor: pointer;
}

.s_button {
    color: #fff;
    background-color: #980026;
    border: 0;
    padding: 6px 10px;

}


.s_button:hover {
    cursor: pointer;
    opacity: .7;
}


.s_input {
    padding: 5px 5px;
    outline: none;
    border-radius: 0;
    border: 1px solid #ccc;
    width: 80%;
}

.shop_card {
    float: left;
    margin-right: 10px;
    color: #980026;
    font-size: 33px;
}


.shop_card_text {
    float: left;
}


.shop_card_text span {
    display: block;
}


.shop_items {
    color: #980026;
    font-weight: bold;
}

.top_row {
    width: auto;
    height: 570px;
}

.top_row_left_col {
    float: left;
    padding-right: 80px;
    width: 120px;
}


.top_row_left_col_list {
    list-style-type: none;
    padding: 0;
    /* margin: 10; */
}


.top_row_left_col_list li {
    margin-top: 5px;
    padding-right: 80px;
    width: 120px;
    background-color: #fff;
}


.top_row_left_col_list li a {
    display: block;
    background-color: #fff;
    color: rgb(0, 0, 0);
    margin-right: auto;
    padding: 15px;
    padding-right: 185px;
    text-decoration: none;

}


.top_row_left_col_list li a:hover {
    background-color: #980026;;
    color: #fff;
}


.top_row_main_col {
    width: 880px;
    height: 550px;
    float: right;
}

.top_row_main_col .slide {
    width: 880px;
    height: 524px;
    margin-top: 15px;
    padding: auto;
}

.bottom_row {
    width: auto;
    height: 520px;
}

.bottom_row_specials {
    border-style: ridge;
    border: 2px;
    float: left;
    margin-top: 5px;
}

.bottom_row_products {
    float: right;
    margin-top: 5px;
}


.bottom_row_specials_text table{
    border: 1px solid;
    width: 100%;
    border-collapse: collapse;
    
}
